<div class="swiper-slide end" id="end-screen">

    <!-- Header Estadão -->
    <div class="estado-header">

        <a href="https://www.estadao.com.br/">
           
            <img src="static/media/estadao-logo.svg" class="logo">
      
        </a>
    
    </div> <!-- End of div.estado-header -->

    <div class="inner-container">

        <div class="title-box">
            
            <div class="sabbath-logo-holder">
            
                <img class="logo" src="static/media/logo-sabbath.png">
            
            </div> <!-- End of div.sabbath-logo-holder -->
            
            <div class="subtitle-holder">
                
                <h2 class="subtitle">50 anos de heavy metal</h2>
            
            </div> <!-- End of subtitle-holder -->

        </div> <!-- End of div.title-box -->

        <div class="credits-holder">

            <div class="person">
                <p class="text role">Reportagem, design e desenvolvimento:</p>
                <p class="text name">Rodrigo Menegat</p>
            </div> <!-- End of div.person -->

            <div class="person">
                <p class="text role">Editor assistente multimídia:</p>
                <p class="text name">Carlos Marin</p>
            </div> <!-- End of div.person -->

            <div class="person">
                <p class="text role">Editora de infografia multimídia:</p>
                <p class="text name">Regina Elizabeth</p>
            </div> <!-- End of div.person -->

            <div class="person">
                <p class="text role">Editor executivo:</p>
                <p class="text name">Fábio Sales</p>
            </div> <!-- End of div.person -->

        </div> <!-- End of div.credits-holder -->

        <div class="spotify-credits">

            <p class="text">Todas as músicas tocadas neste especial, exceto a introdução da faixa <em>Black Sabbath</em>, são pré-visualizações oferecidas pelo <span class="role">Spotify</span>.</p>
                
        </div> <!-- End of div.spotify-credits -->

        <div class="button-holder">

            <button id="exit-button" onclick="location.href='https://infograficos.estadao.com.br'"><span class="exit-button-content">Veja mais especiais →</span></button>

        </div> <!-- End of div.button-holder -->

    </div> <!-- End of div.inner-container -->




</div> <!-- End of div.swiper-slide -->

