<div class="player-header inactive">

    <div class="spotify-logo-holder">
        <img class="spotify-logo" src="static/media/spotify-icon.png">
    </div> <!-- End of div.spotify-logo-holder -->

    <div class="track-info-holder">            
    </div> <!-- End of div.track-info-holder -->

    <div class="sound-button-holder">
        <i class="material-icons sound-icon not-displayed">volume_up</i>
        <i class="material-icons sound-icon displayed">volume_off</i>
    </div> <!-- End of div.sound-button-holder -->

</div> <!-- End of div.player-header -->

