<div class="swiper-slide title" id="title-screen">

    <!-- Header Estadão -->
    <div class="estado-header">
        <a href="https://www.estadao.com.br/">
            <img src="static/media/estadao-logo.svg" class="logo">
        </a>
    </div> <!-- End of div.estado-header -->

    <!-- Content of the title screen -->
    <div class="title-contents-wrapper">

        <div class="title-contents">

            <div class="title-box">

                <div class="sabbath-logo-holder ">

                    <img class="logo" src="static/media/logo-sabbath.png">

                </div> <!-- End of sabbath-logo-holdr -->

                <div class="subtitle-holder">
                    <h2 class="subtitle">50 anos de heavy metal</h2>
                </div> <!-- End of subtitle-holder -->

                <div class="text-holder">

                <p class="text">No aniversário de um disco que mudou a música, o Estadão apresenta uma jornada pela sonoridade da 1ª banda de metal
                </p>

                </div> <!-- End of text holder -->

            </div> <!-- End of div.title-box -->
        
            <div class="call-to-action">

                <button type="button" id="sound-button">
                    <span class="sound-button-content displayed"><i class="material-icons">volume_off</i>Ligar o som</span>
                    <span class="sound-button-content not-displayed"><i class="material-icons">volume_up</i>Desligar o som</span>
                </button>

                <div class="text-holder">

                    <p class="text">Arraste para continuar</p>

                </div> <!-- End of div.text-holder -->

                <div class="arrow-down-holder">
                <p class="arrow-down up-and-down"></p>
                </div> <!-- End of div.arrow-down-holder-->

            </div> <!-- End of div.call-to-action -->

    </div> <!-- End of div.title-contents -->
    
    </div> <!-- End of div.title-contents-wrapper -->

</div> <!-- End of div.swiper-slide -->

